body{
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    padding-top: 8px;
    padding-left: 21px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

header h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

main{
    margin-top: 92px;
    background: #E5E5E5;
    padding-left: 21px;
    margin-bottom: 92px;
    padding-bottom: 16px;
    box-sizing: border-box;
}

main h1{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    padding-top: 27px;
    box-sizing: border-box;
}

.pratos{
    display: flex;
    margin-top: 17px;
    overflow-x: scroll;
}

.pratos div{
    height: 216px;
    width: 172px;
    border-radius: 9px;
    background: #FFFFFF;
    margin-right: 16px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pratos div img{
    width: 144px;
    height: 87px;
    object-fit: cover;
    border-radius: 4px;
}

.pratos div h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    width: 144px;
    height: 23px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pratos div p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    width: 144px;
    height: 39px;
    margin-top: 4px;
}

.pratos div h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 5px;
    width: 144px;
}

.pratos ion-icon{
    position: absolute;
    color: #32B72F;
    bottom: 9px;
    right: 6px;
}

.pratos :nth-child(5){
    display: none;
}

.bebidas{
    display: flex;
    margin-top: 17px;
    overflow-x: scroll;
}

.bebidas div{
    height: 202px;
    width: 172px;
    border-radius: 9px;
    background: #FFFFFF;
    margin-right: 16px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bebidas div img{
    width: 144px;
    height: 87px;
    object-fit: cover;
    border-radius: 4px;
}

.bebidas div h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    width: 144px;
    height: 23px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bebidas div p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    width: 144px;
    height: 18px;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bebidas div h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 5px;
}

.bebidas ion-icon{
    position: absolute;
    color: #32B72F;
    bottom: 9px;
    right: 6px;
}

.bebidas :nth-child(5){
    display: none;
}

.sobremesas{
    display: flex;
    margin-top: 17px;
    overflow-x: scroll;
}

.sobremesas div{
    height: 197px;
    width: 172px;
    border-radius: 9px;
    background: #FFFFFF;
    margin-right: 16px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sobremesas div img{
    width: 144px;
    height: 87px;
    object-fit: cover;
    border-radius: 4px;
}

.sobremesas div h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    width: 144px;
    height: 23px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sobremesas div p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    width: 144px;
    height: 18px;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sobremesas div h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 5px;
}

.sobremesas ion-icon{
    position: absolute;
    color: #32B72F;
    bottom: 9px;
    right: 6px;
}

.sobremesas :nth-child(5){
    display: none;
}

footer{
    width: 100%;
    height: 92px;
    background: #FFFFFF;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button{
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400p;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
}

.botao-ativo{
    background-color: #32B72F;
    font-weight: 700;
}

.confirmacao-do-pedido{
    width: 91%;
    background-color: #50D074;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.confirmacao-do-pedido h1{
    margin-top: 22px;
    margin-bottom: 27px;
}

.conteudo-pedido{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    height: 172px;
    margin-bottom: 24px;
}

.conteudo-pedido p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.conteudo-pedido h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.conteudo-pedido div{
    display: flex;
    justify-content: space-between;
}


.confirmacao-do-pedido button{
    display: block;
    border: none;
}

.confirmacao-do-pedido h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.finalizar-pedido{
    width: 333px;
    height: 52px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #50D074;
    background-color: #FFFFFF;
    border-radius: 100px;
}

.cancelar-pedido{
    width: 333px;
    height: 52px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #50D074;
}

.tela-verificacao{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.escondido{
    display: none;
}

.borda-selecionado{
    border: solid 5px #32B72F;
    box-sizing: border-box;
}

.borda-selecionado :nth-child(5){
    display: block;
}

/* Media Querry para tirar a scrollbar de dispositivos mobile (tablets e celulares)*/

@media (max-width: 1024px){
    .pratos::-webkit-scrollbar{
        display: none;
    }

    .bebidas::-webkit-scrollbar{
        display: none;
    }

    .sobremesas::-webkit-scrollbar{
        display: none;
    }

    .pratos, .bebidas, .sobremesas{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}